<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sakenugod.telegram-context-updater</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>RUNNER_PATH_IS_SET_BY_INSTALLER</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>14400</integer>
    <key>ProcessType</key>
    <string>Background</string>
    <key>LowPriorityIO</key>
    <true/>
    <key>StandardOutPath</key>
    <string>STDOUT_PATH_IS_SET_BY_INSTALLER</string>
    <key>StandardErrorPath</key>
    <string>STDERR_PATH_IS_SET_BY_INSTALLER</string>
</dict>
</plist>
